<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Skill Matrix</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color:lightgrey">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkgrey">
    <div class="nav container">
        <div>
            <a href="#" class="text-decoration-none fs-5 fw-bolder text-white">
                Skill Matrix tool
            </a>
        </div>
        <div class="row">
            <div class="col ms-0 mt-3">
                <h4><a href="#" style="color: inherit;"><ion-icon name="globe-outline"></ion-icon></a></h4>
            </div>
            <div class="col ms-4 mt-3">
                <h4><a id="notificationLink" href="#" style="color: inherit;"><ion-icon name="notifications-outline"></ion-icon></a></h4>
                <div id="notificationDropdown" class="position-absolute bg-light dropdown-menu" style="min-width: 250px;">
                    <h6 class="dropdown-header">Notifications</h6>
                    <div id="notificationList" class="list-group"></div>
                </div>
            </div>
            <div class="col ms-4 mt-3">
                <h4><a href="#" style="color: inherit;"><ion-icon name="chevron-down-outline"></ion-icon></ion-icon></a></h4>
            </div>
        </div>
    </div>
</nav>
<div class="container container-fluid">
<div class="h4 m-3">For more skill domain</div>
<form th:object="${domain}" th:action="@{/skillDomain/addDomain}" method="post">
  <input type="hidden" th:field="*{domainID}" />
  <label>Domain Name:</label>
  <input type="text" th:field="*{domainName}" />
  <button type="submit">Save Skill Domain</button>
</form>
<!--Skill statistic-->
<div class="text-center h3 m-3">Skill Domain</div>

<div th:if="${message}" class="alert alert-success text-center bg-gradient">[[${message}]]</div>
  <div th:if="${messageError}" class="alert alert-danger text-center bg-gradient">[[${messageError}]]</div>
<table class="table table-light table-bordered" th:object="${listSkillDomain}">
  <thead>
  <th>Domain ID</th>
  <th>Domain Name</th>
  <th>Domain Status</th>
  <td></td>
  <td></td>
  </thead>
  <th:block th:each="skill : ${listSkillDomain}">
    <tr>
      <td th:text="${skill.domainID}"></td>
      <td th:text="${skill.domainName}"></td>
      <td th:text="${skill.status}"></td>
      <td><a th:href="@{'/skill/?domainID=' + ${skill.domainID}}" class="text-center text-decoration-none">View Skill in Domain</a></td>
      <td><a th:href="@{'/skillDomain/deleteSkill/'+${skill.domainID}}" class="text-center text-decoration-none">Delete</a></td>
    </tr>
  </th:block>
</table>
</div>


</body>
</html>